@media (max-width: 768px){
    /* Postit */
    .postit:first-of-type{
        left: calc(100% - 300px);
    }
    #books .postit{
        left: calc(100% - 300px);
    }
    /* DataPersos */
    #persos{
        justify-content: center;
    }
    #persos > .scotch{
        width: 180px;
        left: auto;
        top: 40px;
    }
    #persos > #dataPersos{
        margin: 40px 30px;
    }
    #photo{
        right: 60px;
    }
    /* Footer */
    footer > div:last-of-type > p{
        line-height: 15px;
    }
    
}