@import url("./fonts.css");
body{
    background-color: #9B81BA;
}
/* Burger */
nav{
    position: fixed;
    padding: 30px 50px;
    z-index: 3;
}
#burger{
    height: 25px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bar{
    height: 3px;
    width: 100%;
    background-color: #FEE565;
    display: block;
}
.bar:nth-of-type(2){
    width: 60%;
}
/* Cadre */
#hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero #cadre{
    position: relative;
    user-select: none;
}
#hero #cadre > img{
    width: 42vw;
    transform: rotateZ(90deg);
    pointer-events: none;
    filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
}
.player {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: -2;
    width: 85%;
    height: 50%;
    display: flex;
    justify-content: center;
    pointer-events: auto;
}
.player__video {
    height: 100%;
}
/* Horloge */
#horlogeContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}
#horloge{
    margin: 50px 90px;
    width: 75%;
    height: 400px;
    background-color: #57210A;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25), inset -3px 3px 4px rgba(255, 255, 255, 0.25);
}
#horloge > div:first-of-type{
    position: relative;
}
#horloge > div:first-of-type > #montre{
    position: relative;
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    background-color: #fff;
    border: 3px solid #000;
    z-index: 2;
}
#horloge > div:first-of-type .line{
    width: 220px;
    background-color: #000;
    height: 2px;
    display: block;
    position: absolute;
    top: 50%;
    left: 13%;
}
#horloge > div:first-of-type span{
    font-size: 24px;
    color: #D2A82B;
    font-family: "Open-Sans-Hebrew";
    position: absolute;
    transform: translateX(-50%);
}
#horloge > div:first-of-type span:nth-of-type(6){
    top: 10px;
    left: 50%;
}
#horloge > div:first-of-type span:nth-of-type(7){
    top: 13%;
    left: 78%;
}
#horloge > div:first-of-type span:nth-of-type(8){
    top: 33%;
    left: 92%;
}
#horloge > div:first-of-type span:nth-of-type(9){
    top: 58%;
    left: 92%;
}
#horloge > div:first-of-type span:nth-of-type(10){
    bottom: 12%;
    left: 78%;
}
#horloge > div:first-of-type span:nth-of-type(11){
    bottom: 10px;
    left: 50%;
}
#horloge > div:first-of-type span:nth-of-type(12){
    bottom: 12%;
    left: 22%;
}
#horloge > div:first-of-type span:nth-of-type(13){
    top: 58%;
    left: 8%;
}
#horloge > div:first-of-type span:nth-of-type(14){
    top: 33%;
    left: 8%;
}
#horloge > div:first-of-type span:nth-of-type(15){
    top: 13%;
    left: 22%;
}
#horloge #aiguille{
    display: flex;
    position: absolute;
    align-self: center;
    left: 49.7%;
    top: 47.5%;
    transform: rotateZ(0deg);
    transform-origin: -0.5px 8.5px;
}
#horloge #aiguille span{
    background-color: #B50000;
}
#horloge #aiguille span:first-of-type{
    height: 18px;
    width: 18px;
    border-radius: 100%;
}
#horloge #aiguille span:last-of-type{
    height: 60px;
    width: 4px;
    transform: translate(-47%, -95%);
}
#horloge > div:first-of-type > div:last-of-type{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 3px solid #000;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}
.horlogeTab{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open-Sans-Hebrew";
}
.horlogeTab > span{
    font-size: 28px;
    padding-bottom: 10px;
}
.horlogeTab > div{
    display: flex;
    height: 50px;
    width: 150px;
    justify-content: center;
    align-items: center;
    border: 3px solid #000;
    border-radius: 10px;
    font-size: 24px;
}
/* Post-it */
.postit{
    height: 240px;
    width: 240px;
    background: linear-gradient(224.86deg, #FFFFFF -26.73%, #FEE14A 2.52%, #FFEA7C 34.98%, #FEE353 62.37%, #FCEA80 79.44%, rgba(255, 255, 255, 0) 96.38%), #FCE14A;
    border-radius: 0px 0px 2px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: "Rock Salt";
    flex-direction: column;
}
.postit > span:first-of-type{
    position: absolute;
    bottom: 0;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: #f7d61d;
    border-radius: 0px 2px 0px 20px;
}
.postit > p{
    text-align: center;
}
.postit:first-of-type{
    position: relative;
    left: calc(100% - 370px);
    transform: rotateZ(-15deg);
}
.postit:nth-of-type(2){
    transform: rotateZ(15deg);
}
.postit:nth-of-type(2) > span:nth-of-type(2), .postit:nth-of-type(2) > span:nth-of-type(3){
    display: flex;
    justify-content: space-between;
}
.postit:nth-of-type(2) > span:nth-of-type(2) > span, .postit:nth-of-type(2) > span:nth-of-type(3) > span{
    width: 60px;
    height: 4px;
    display: block;
    background-color: #000;
    margin-right: 20px;
}
.postit:nth-of-type(2) > span:nth-of-type(2) > span{
    background-color: rgb(67, 67, 67);
    margin-bottom: 50px;
}
.postit:nth-of-type(2) > span:nth-of-type(3) > span{
    background-color: rgb(184, 184, 184);
}
/* Books */
#books{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#books #elePorte{
    display: flex;
    flex-direction: column;
}
/* Verrou */
#books #elePorte #verrou{
    position: relative;
    left: -50px;
    height: 200px;
    width: 400px;
    border-radius: 30px;
    background-color: #312214;
    display: flex;
    align-items: center;
    justify-content: center;
}
#books #elePorte #verrou #verrouContent{
    background-color: #3F2F1F;
    box-shadow: 0px 0px 15px 5px #433222;
    position: relative;
    left: -20px;
    width: 370px;
    height: 150px;
    border-radius: 20px;
}
#bouton{
    position: absolute;
    background-color: #605028;
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    left: 150px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bouton > div{
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background-color: #605028;
    box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.25);
}
#ovale{
    position: absolute;
    width: 60px;
    height: 100px;
    border-radius: 100%;
    background-color: #817038;
    top: 50%;
    transform: translateY(-50%) rotateZ(150deg); /* Fermer / Pour ouvert > 210° */
    left: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: 30px 50px;
}
#ovale > div{
    width: 45px;
    height: 85px;
    border-radius: 100%;
    background-color: #817038;
    box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.25);
}
/* Poignee */
#poignee{
    height: 520px;
    width: 180px;
    background: linear-gradient(to right, #796934, #9D8B4F);
    background-color: #796934;
    margin: 40px;
}
#poignee > div:first-of-type{
    height: 0;
    width: 166px;
    border-top: 15px solid #AC9857;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    box-shadow: inset 0px -3px 4px rgba(255, 255, 255, 0.1);
}
#surface_poignee{
    position: relative;
    width: 166px;
    height: 490px;
    background-color: #817038;
    margin-left: 7px;
}
.vis{
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    background-color: #878787;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}
.trou_vis{
    color: #787878;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 17px;
}
.vis:nth-of-type(1){
    left: 4px;
    top: 4px;
}
.vis:nth-of-type(2){
    right: 4px;
    top: 4px;
}
.vis:nth-of-type(3){
    z-index: 3;
    right: 80px;
    top: 315px;
    width: 9px;
    height: 9px;
}
.vis:nth-of-type(3) .trou_vis{
    font-size: 9px;
}
.vis:nth-of-type(4){
    left: 4px;
    bottom: 4px;
}
.vis:nth-of-type(5){
    right: 4px;
    bottom: 4px;
}
#boule{
    z-index: 4;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #9C8A4E;
    box-shadow: -3px 4px 4px rgba(0, 0, 0, 0.25), inset -3px 4px 4px rgba(255, 255, 255, 0.25);
}
#cache{
    z-index: 2;
    position: absolute;
    top: 305px;
    left: 50%;
    transform: translateX(-50%) rotateZ(0deg);
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: #8E7C3E;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 2px rgba(255, 255, 255, 0.25);
    transform-origin: 60px 15px;
}
#serrure > div:first-of-type{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #201108;
    box-shadow: inset -3px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    top: 345px;
    left: 50%;
    transform: translateX(-50%);
}
#serrure > div:last-of-type{
    position: absolute;
    top: 355px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 60px solid #201108;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
}
#poignee > div:last-of-type{
    height: 0;
    width: 166px;
    border-bottom: 15px solid #726331;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    box-shadow: inset 0px -3px 4px rgba(255, 255, 255, 0.1);
}
/* Data Books */
#books #dataBooks{
    background-color: #fff;
    height: 470px;
    width: 700px;
    margin-right: 90px;
}
/* Persos */
/* Data Persos */
section#persos #dataPersos{
    height: 627px;
    width: 850px;
    background-color: #fff;
    margin:0 90px;
}
/* Footer */
footer{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 150px;
    width: 100%;
    background-color: #8C72AB;
    border-top: 3px solid #FEE565;
    margin-top: 50px;
    align-items: center;
}
footer > div:first-of-type{
    padding-left: 40px;
}
footer > div:last-of-type > p{
    color: #FEE565;
    padding: 40px;
    font-family: "Rock Salt";
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2px;
}