@media (max-width: 768px){
    #cliquez{
        display: none;
    }
    /* Postit */
    .postit:first-of-type{
        left: calc(100% - 300px);
        top: 250px;
    }
    #books .postit{
        left: calc(100% - 300px);
    }
    /* DataBooks */
    #mmmh{
        left: 55vw;
    }
    #dataBooks div:nth-of-type(2) {
        top: -10px;
        left: -60px;
    }
    #dataBooks div:nth-of-type(3) {
        bottom: -10px;
        right: -60px;
    }
    /* DataPersos */
    #persos{
        justify-content: center;
        height: 410px;
        margin-top: 0;
    }
    #persos > .scotch{
        width: 180px;
        height: 35px;
        top: 525px;
    }
    #persos > #dataPersos{
        top: 260px;
    }
    #legende{
        top: 605px;
    }
    #legende .legendeCase img{
        height: 55px;
        width: 50px;
    } 
    #legende .legendeCase span{
        font-size: 12px;
    }
    #photo{
        right: 60px;
        top: 0;
    }
    #photo img{
        width: 287.5px;
        height: 200px;
    }
    #photo > .scotch:nth-of-type(1){
        left: 220px;
    }
    /* Footer */
    footer {
        margin-top: 310px;
    }
    footer > div:last-of-type > p{
        line-height: 15px;
    }
    
}