@media (max-width: 425px){
    #interphone > div {
        height: 70%;
    }
    #interphone > div > div:first-of-type > div:nth-of-type(2) {
        height: 150px;
        width: 150px;
    }
    #interphone .btnContainer > a:last-of-type {
        margin-top: 5px;
    }
    #interphone > div > div:last-of-type {
        flex-direction: column;
    }
    #hero{
        position: relative;
        flex-direction: column;
    }
    #hero #cadre > img{
        width: 80vw;
    }
    .gond{
        width: 4vw;
    }
    .gond > .vis:nth-of-type(1){
        width: 7px;
        height: 7px;
    }
    .gond > .vis:nth-of-type(2){
        width: 7px;
        height: 7px;
    }
    #hero > img{
        display: flex;
    }
    #hero > p{
        display: flex;
        font-size: 14px;
        font-family: "Rock Salt";
        width: 80vw;
        text-align: center;
        letter-spacing: 4px;
        padding: 10px 0;
        line-height: 25px;
    }
    #hero > #btnScroll{
        position: relative;
        top: 15px;
        display: flex;
        height: 100px;
        width: 100px;
        border-radius: 100%;
        border: 2px solid var(--yellow);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        justify-content: center;
        align-items: center;
        animation: float 3s ease-in-out infinite;
    }
    #hero > #btnScroll span{
        text-align: center;
        color: var(--yellow);
        font-family: "Rock Salt";
        font-size: 10px;
        letter-spacing: 2px;
        line-height: 20px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    @keyframes float {
        0% {
            transform: translatey(0px);
        }
        50% {
            transform: translatey(-15px);
        }
        100% {
            transform: translatey(0px);
        }
    }
    #pause > span{
        height: 50px;
        width: 15px;
        background-color: #fff;
    }
    #pause > span:first-of-type{
        margin-right: 5px;
    }
    #pause > span:last-of-type{
        margin-left: 5px;
    }
    #horloge{
        padding: 50px 25px;
        margin-top: 150px;
        margin: 0;
    }
    .vis{
        width: 12px;
        height: 12px;
    }
    .postit{
        height: 150px;
        width: 150px;
    }
    .postit:first-of-type{
        top: 200px;
        left: calc(100% - 180px);
    }
    .postit:first-of-type p{
        font-size: 15px;
        width: 100px;
        line-height: 25px;
    }
    #books .postit{
        top: 260px;
        left: calc(100% - 200px);
    }
    #books{
        position: relative;
        top: auto;
        overflow-x: hidden;
    }
    #books #dataBooks{
        margin-top: 80px;
        top: auto;
        margin: 55px 0;
    }
    #mmmh{
        display: none;
    }
    #books #elePorte #verrou{
        height: 100px;
        width: 200px;
        border-radius: 30px;
    }
    #books #elePorte #verrou #verrouContent {
        height: 70px;
    }
    #books #elePorte #verrou #verrouContent #bouton div{
        width: 14px;
        height: 14px;
    }
    #ovale{
        position: absolute;
        width: 30px;
        height: 50px;
        left: 145px;
        transform-origin: 15px 25px;
    }
    #ovale > div{
        width: 22px;
        height: 42px;
    }
    #bouton {
        width: 20px;
        height: 20px;
        left: 80px;
    }
    #bouton > div {
        width: 12px;
        height: 12px;
    }
    #poignee {
        height: 275px;
        width: 98px;
    }
    #poignee > div:first-of-type, #poignee > div:last-of-type {
        width: 83px;
    }
    #surface_poignee {
        width: 83px;
        height: 245px;
    }
    #boule {
        top: 40px;
        width: 80px;
        height: 80px;
    }
    #cache {
        top: 155px;
        width: 60px;
        height: 60px;
        transform-origin: 30px 10px;
    }
    #serrure{
        position: absolute;
        top: 178px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
    }
    #serrure > div:first-of-type{
        width: 20px;
        height: 20px;
    }
    #serrure > div:last-of-type{
        top: 5px;
        border-bottom: 30px solid #201108;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
    }
    #poignee .vis:nth-of-type(3) {
        right: 37px;
        top: 160px;
    }
    #persos{
        flex-direction: column-reverse;
        margin-top: 50px;
        overflow: visible;
        height: auto;
    }
    #persos > .scotch{
        width: 300px;
        height: 25px;
        top: 345px;
        left: 50%;
        transform: translateX(-50%);
    }
    #persos > #dataPersos{
        position: static;
        display: flex;
        align-self: center;
        margin-top: 100px;
    }
    #legende{
        display: grid;
        transform: translateX(-50%);
        grid-template-columns: 1fr 1fr;
        width: 375px;
        left: 50%;
        top: 635px;
    }
    #legende .legendeCase{
        align-items: center;
        padding-bottom: 10px;
    }
    #photo{
        position: static;
        display: flex;
        align-self: center;
        padding-top: 50px;
    }
    #photo > .scotch:nth-of-type(1){
        left: 250px;
        width: 70px;
        height: 25px;
        top: auto;
    }
    #photo > .scotch:nth-of-type(2){
        left: -25px;
        width: 70px;
        height: 25px;
    }
    #photo > img{
        width: 300px;
        height: 210px;
    }
    #persos > .gond{
        bottom: 250px;
    }
    footer{
        display: flex;
        flex-direction: column;
        margin-top: 330px;
    }
    footer > div:first-of-type{
        padding-top: 20px;
        padding-left: 0;
    }
    footer > div:last-of-type > p{
        font-size: 10px;
        line-height: 17px;
    }
}