@media (max-width: 768px){
    /* Postit */
    .postit:first-of-type{
        left: calc(100% - 300px);
    }
    #books .postit{
        left: calc(100% - 300px);
    }
    /* DataPersos */
    #persos > #dataPersos{
        margin: 0 30px;
    }
    /* Footer */
    footer > div:last-of-type > p{
        line-height: 15px;
    }
    #persos > .scotch{
        left: 150px;
    }
    #persos > #dataPersos{
        width: auto;
    }
}