@media (max-width: 1024px){
    /* Cadre */
    #hero #cadre > img{
        width: 60vw;
    }
    /* Gond */
    .gond{
        height: 25vw;
        width: 3vw;
    }
    /* Horloge */
    #horloge{
        flex-direction: column;
        width: auto;
        height: 40%;
        padding: 75px 50px;
    }
    .horlogeTab{
        padding-top: 25px;
    }
    .postit:first-of-type{
        left: calc(100% - 500px);
        top: 200px;
    }
    /* Books */
    #books{
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        top: -200px;
    }
    #books .postit{
        position: absolute;
        left: calc(100% - 370px);
        top: 720px;
    }
    #books #dataBooks{
        align-self: center;
        margin: 50px 0;
        top: 130px;
    }
    /* Persos */
    #persos{
        height: auto;
        overflow: visible;
        margin-top: 50px;
        margin-bottom: 150px;
    }
    #persos .scotch{
        left: 175px;
        width: 220px;
    }
    #persos #dataPersos{
        position: relative;
    }
    #photo{
        top: 100px;
        right: 80px;
    }
    #photo > img{
        width: 410px;
        height: 285px;
    }
    #photo > .scotch:nth-of-type(1){
        left: 350px;
        top: -5px;
        width: 100px;
        height: 35px;
        transform: rotate(45deg);
    }
    #photo > .scotch:nth-of-type(2){
        left: -40px;
        width: 100px;
        height: 35px;
    }
    /* Footer */
    footer > div:last-of-type > p{
        line-height: 20px;
        padding: 20px;
        font-size: 8px;
    }
}